<div class="listing-item">
  <div class="details">
    <div class="title">{{ listingDto.title }}</div>
    <div class="category">{{ listingDto.category }}</div>
      <div class="posted-by" *ngIf="listingDto.userEmail">
        {{ listingDto.userFirstName}} {{ listingDto.userLastName}} {{listingDto.userPhone}}
      </div>
      <div class="date">{{ listingDto.creationDate }}</div>
      <div class="location">{{ listingDto.county }}, {{ listingDto.city }}</div>
      <div class="description" colspan="2">{{ listingDto.description }}</div>
  </div>
    <div class="media" *ngIf="mediaList && mediaList[currentImageIndex]">
      <button class="navigation-button" (click)="navigateToPreviousImage()">&lt;</button>
      <img [src]="mediaList[currentImageIndex].imageUrl" alt="Media">
      <button class="navigation-button" (click)="navigateToNextImage()">&gt;</button>
    </div>
</div>
