<div class="listing-item">

  <div class="title-category">
    <div class="title">{{ listingDto.title }}</div>
    <div class="category">{{ listingDto.category }}</div>
  </div>

  <div class="details">

    <div class="wrapper">
      <div class="posted-by" *ngIf="listingDto.userEmail">
        <div class="spaced-icon">
          <mat-icon>person</mat-icon> 
          <a (click)="navigateToUserProfile(listingDto.userEmail)">{{ listingDto.userFirstName }} {{ listingDto.userLastName }}</a>
        </div>
        <div class="spaced-icon"> 
          <mat-icon>phone</mat-icon> 
          {{ listingDto.userPhone }}
        </div>
      </div>
      <div class="date">
        <div class="spaced-icon"><mat-icon>calendar_today</mat-icon> {{ getFormattedDate(listingDto.creationDate) }}</div>
        <div class="spaced-icon"> <mat-icon>access_time</mat-icon> {{ getFormattedTime(listingDto.creationDate) }}</div>
      </div>
      <div class="location">
        <mat-icon>location_on</mat-icon> {{ listingDto.county }}, {{ listingDto.city }}
      </div>
      <div class="description">{{ listingDto.description }}</div>
    </div>

    <div class="media" *ngIf="mediaList && mediaList[currentImageIndex]">
      <img 
        [src]="mediaList[currentImageIndex].imageUrl" 
        alt="Media" 

        class="clickable-image"
      >
    </div>
  </div>
</div>
