.filter-sidebar {
  border: 1px solid #000000;
  padding: 10px;
  width: auto; /* Lățimea sidebar-ului */
  margin-right: 2rem; /* Distanța față de marginea din dreapta */
  margin-left:1.2rem;
  margin-top:22px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f7f7f7;


  h3 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-top: 0;
    text-align: center; // Centrare text pe orizontală
    color: #333;
  }

  button {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    width: 100%;
    transition: background-color 0.3s;
    text-align: center; // Centrare text pe orizontală
    border-radius: 5px;
  }

  ul {
    margin-top: 5px;
    padding: 0;
    list-style: none; /* Eliminarea stilului implicit al listei */
  }

  ul li {
    cursor: pointer;
    padding: 5px;
  }

  ul li:hover {
    background-color: #f0f0f0;
  }

  .dropdown {
    max-height: 400px; /* Înălțimea maximă a dropdown-ului */
    overflow-y: auto; /* Adăugarea unui scrollbar vertical atunci când lista depășește înălțimea maximă */
  }
}
