<div class="filter-sidebar">
    <div class="filter-crt-wrap">
        <h3>Criterii de filtrare</h3>
    </div>
    
    <!-- Categorie -->
    <div>
        <button (click)="toggleCategoryDropdown()">Categorie</button>
        <div *ngIf="showCategoryDropdown" class="dropdown categories-dropdown">
            <div class="categories-grid">
                <div 
                  *ngFor="let category of categories" 
                  class="category-item"
                  [class.selected]="isSelected(category, 'category')"
                  (click)="selectItem(category, 'category')">
                    <img [src]="categoryImages[category.name]" alt="{{ category.name }}" class="category-icon">
                    <div class="category-name">{{ category.name }}</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Județ -->
    <div>
        <button (click)="toggleCountyDropdown()">Judet</button>
        <div *ngIf="showCountyDropdown" class="dropdown">
            <ul>
                <li *ngFor="let county of counties">
                    <label>
                        <input type="checkbox" 
                               [checked]="isSelected(county, 'county')" 
                               (change)="selectItem(county, 'county')">
                        {{ county.name }}
                    </label>
                </li>
            </ul>
        </div>
    </div>
</div>
