<div class="review-modal">
  <button class="close-btn" (click)="cancel()">x</button>
  <h2>Lasă o recenzie</h2>
  <form (ngSubmit)="submitReview()" class="review-form">
    <div class="rating-container">
      <ng-container *ngFor="let star of stars; let i = index">
        <mat-icon
          class="star"
          [class.filled]="i < review.mark"
          [class.half-filled]="isHalfFilled(i)"
          (click)="setRating(i + 1)"
          (mouseenter)="highlightStars(i + 1)"
          (mouseleave)="resetStars()"
        >
          {{ getStarIcon(i) }}
        </mat-icon>
      </ng-container>
    </div>
    <div class="full-width">
      <label for="review-comment">Recenzie</label>
      <textarea id="review-comment" [(ngModel)]="review.message" name="message" required></textarea>
    </div>
    <div class="full-width">
      <label for="review-item">Alege Anunț/Proiect</label>
      <select id="review-item" name="reviewItem" [(ngModel)]="selectedItem" required>
        <option value="" disabled selected>Alege un anunț sau un proiect</option>
        <optgroup label="Anunțuri">
          <option *ngFor="let listing of userListings" [value]="listing.id">{{ listing.title }}</option>
        </optgroup>
        <optgroup label="Proiecte">
          <option *ngFor="let project of userProjects" [value]="project.id">{{ project.title }}</option>
        </optgroup>
      </select>
    </div>
    <div class="actions">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!isFormValid()"
        [ngClass]="{ 'disabled-button': !isFormValid() }"
      >
        Trimite recenzia
      </button>
    </div>
  </form>
</div>
