<div class="handyman-item">
    <img [src]="userProfilePicture" alt="{{handyman.firstName}} {{handyman.lastName}}" class="handyman-photo">
    <div class="handyman-details">
      <h3 (click)="navigateToUserProfile(handyman.email)">{{ handyman.firstName }} {{ handyman.lastName }}</h3>
      <div class="spaced-icon">
        <mat-icon>phone</mat-icon> {{ handyman.phone }}
      </div>
      <div class="spaced-icon">
        <mat-icon>star</mat-icon>
        <ng-container *ngIf="handyman.rating > 0; else noReviews">
          {{ handyman.rating }}
        </ng-container>
        <ng-template #noReviews>
          Niciun review
        </ng-template>
      </div>
      
      <div class="spaced-icon">
        <mat-icon>build</mat-icon> {{ handyman.yearsOfExperience }} Ani de experienta
      </div>
      <div class="description">{{ handyman.description }}</div>
    </div>
  </div>
  