<div class="project-item">
  <div class="details">
    <div class="title">{{ project.title }}</div>
    <div class="category">{{ project.category }}</div>
    <div class="posted-by" *ngIf="project.userEmail">
      {{ project.userEmail }}
      {{ project.userPhone }}
      {{ project.userFirstName }}
      {{ project.userLastName }}
    </div>
    <div class="date">{{ project.creationDate }}</div>
    <div class="location">{{ project.county }}, {{ project.city }}</div>
    <div class="description">{{ project.description }}</div>
  </div>
  <div class="media" *ngIf="mediaList && mediaList[currentImageIndex]">
    <button class="navigation-button" (click)="navigateToPreviousImage()">&lt;</button>
    <img [src]="mediaList[currentImageIndex].imageUrl" alt="Media">
    <button class="navigation-button" (click)="navigateToNextImage()">&gt;</button>
  </div>
  <button class="bid-button" (click)="openBidModal()">Bid</button>

  <div *ngIf="latestBid">
    <p>Latest Bid: {{ latestBid.amount }} by {{ latestBid.bidderEmail }} on {{ latestBid.creationDate }}</p>
  </div>

  <button (click)="openBidHistoryModal()">View Bid History</button>
  <app-bid-history-modal [bids]="allBids" [isVisible]="isBidHistoryModalVisible" (closeModalEvent)="closeBidHistoryModal()"></app-bid-history-modal>

  <app-bid-modal *ngIf="isBidModalOpen" (closeModal)="closeBidModal()" (submitBid)="submitBid($event.bidSum, $event.messageToUser)" [bids]="allBids"></app-bid-modal>
</div>
