.project-item {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .category,
  .posted-by,
  .date,
  .location,
  .description {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .description {
    font-size: 16px;
  }
  
  .media {
    display: flex;
    align-items: center;
  }
  

  .bid-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .bid-button:hover {
    background-color: #0056b3;
  }

  .nav-button {
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: inherit;
    
  }
  