<div class="review-item">
    <div class="review-header">
        <div class="review-user">
            {{ review.userFirstName }} {{ review.userLastName }}  pentru "{{review.postTitle}}" - <span class="review-date">{{ review.createdAt | date: 'shortDate' }}</span>
        </div>
        <div class="rating">
            <ng-container *ngFor="let star of getStars(review.mark)">
            <mat-icon>{{ star }}</mat-icon>
            </ng-container>
        </div>
      
      <div class="review-message">{{ review.message }}</div>
      <!-- <div class="review-related" *ngIf="review.project_id || review.listing_id">
        <span *ngIf="review.project_id">Project ID: {{ review.project_id }}</span>
        <span *ngIf="review.listing_id">Listing ID: {{ review.listing_id }}</span>
      </div> -->
    </div>
  </div>
  