<div class="bid-modal">
  <div class="modal-content">
    <span class="close-button" (click)="onCloseModal()">&times;</span>
    <h2>Plaseaza o licitatie</h2>
    <form (ngSubmit)="submitBidForm()">
      <label for="bidSum">Introdu suma in roni:</label>
      <input type="number" id="bidSum" name="bidSum" [(ngModel)]="bidSum" required>

      <label for="messageToUser">Mesaj catre persoana care a creat anuntul:</label>
      <textarea id="messageToUser" name="messageToUser" [(ngModel)]="messageToUser" required></textarea>

      <button type="submit">Trimite licitiatia</button>
    </form>
    
  </div>
</div>